* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(79, 201, 85, 0.6), rgba(1, 68, 33, 0.6)), 
                url('https://images.pexels.com/photos/6985185/pexels-photo-6985185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed; /* Set your image URL here */
    background-size: cover; 
}

.signup-container {
    max-width: 400px !important;
    width: 100% !important;
    padding: 40px 30px !important;
    background-color: #181818;
    border-radius: 8px !important;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5) !important;
    text-align: center;
    margin: 0;
}

.signup-title {
    color: #fff !important;
    font-size: 26px;
    margin-bottom: 24px;
    font-weight: 600;
}

.error-message {
    color: #e80074;
    margin-bottom: 20px;
    font-size: 14px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

.form-control {
    width: 100%;
    padding: 14px 20px;
    border-radius: 50px !important;
    border: 1px solid #333 !important;
    background-color: #333 !important;
    color: #fff !important;
    font-size: 16px;
}

input:focus, .form-control:focus {
    border: 1px solid #333 !important;  
    box-shadow: 0 0 0 2px #fff !important;  
    outline: none !important;  
}

.form-control::placeholder {
    color: #aaa !important;
}

.form-group label {
    color: #fff !important;
}

.submit-button {
    background-color: #1DB954;
    color: #fff !important;
    border: none;
    padding: 14px 20px !important;
    border-radius: 50px !important;
    cursor: pointer;
    font-size: 16px !important;
    height: 50px;
    width: 100% !important;
    transition: background-color 0.3s ease;
    margin-top: 20px !important;
}

.submit-button:hover {
    background-color: #1ED760;
}

.signin-redirect-button {
    background-color: transparent;
    color: #1DB954;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 18px;
}

.signin-redirect-button:hover {
    color: #1ED760;
}

.signup-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}
