* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    font-family: 'Spotify', sans-serif;
}

.signup-container {
    max-width: 400px;
    width: 100%;
    padding: 40px 30px;
    background-color: #181818;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
}

.signup-title {
    color: #fff;
    font-size: 26px;
    margin-bottom: 24px;
    font-weight: 600;
}

.error-message {
    color: #e80074;
    margin-bottom: 20px;
    font-size: 14px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
}

.form-control {
    width: 100%;
    padding: 14px 20px;
    border-radius: 50px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

.form-control::placeholder {
    color: #aaa;
}

.form-group label {
    color: #fff;
}

.submit-button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #1ED760;
}

.signin-redirect-button {
    background-color: transparent;
    color: #1DB954;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 18px;
}

.signin-redirect-button:hover {
    color: #1ED760;
}

.signup-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}
