* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(rgba(79, 201, 85, 0.6), rgba(1, 68, 33, 0.6)), 
                url('https://images.pexels.com/photos/6985185/pexels-photo-6985185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center fixed; /* Set your image URL here */
    background-size: cover; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    flex: 1;
}

.track-card {
    background-color: #181818; 
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
}

.track-card:hover {
    background-color: #333; 
}

.track-card .track-info {
    flex: 1;
}

.track-card h5 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.track-card p {
    font-size: 14px;
    color: #b3b3b3; 
}

.track-card button {
    background-color: #1DB954;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.track-card button:hover {
    background-color: #1ED760;
}

h3.animated-text {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.spinner-border {
    border-width: 4px;
    color: #1DB954 !important; /* Important to ensure it overrides Bootstrap's color */
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    display: block;
}

.text-danger {
    color: #e80074 !important;
}

button.btn-outline-success {
    border-color: #1DB954;
    color: #1DB954;
    transition: background-color 0.3s ease;
}

button.btn-outline-success:hover {
    background-color: #1DB954;
    color: #fff;
}

.img-fluid.artistic-img { 
    max-width: 900px;
    border-radius: 8px; 
}
