* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff !important; 
    padding: 20px; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    flex: 1;
}

.track-card {
    background-color: #181818; 
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;
}

.track-card:hover {
    background-color: #333; 
}

.track-card .track-info {
    flex: 1;
}

.track-card h5 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.track-card p {
    font-size: 14px;
    color: #b3b3b3; 
}

.track-card button {
    background-color: #1DB954;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.track-card button:hover {
    background-color: #1ED760;
}

h3.animated-text {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #1DB954;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.spinner-border {
    border-width: 4px;
    color: #1DB954;
}

.text-danger {
    color: #e80074;
}

button.btn-outline-success {
    border-color: #1DB954;
    color: #1DB954;
    transition: background-color 0.3s ease;
}

button.btn-outline-success:hover {
    background-color: #1DB954;
    color: #fff;
}

@media (max-width: 768px) {

    .track-card button {
        width: 100%;
        margin-top: 10px;
    }

    h3.animated-text {
        font-size: 24px;
    }
}

.img-fluid.artistic-img { 
    max-width: 900px;
    border-radius: 8px; 
}
